<html>
    <body>
        <form method="post" action="/">
                <input type="submit" value="Relay 1 ON" name="Relay 1 ON"/>
                <input type="submit" value="Relay 1 OFF" name="Relay 1 OFF"/>
            </div>
            <div>
	        <input type="submit" value="Relay 2 ON" name="Relay 2 ON"/>
                <input type="submit" value="Relay 2 OFF" name="Relay 2 OFF"/>
            </div>
            <div>
	        <input type="submit" value="Relay 3 ON" name="Relay 3 ON"/>
                <input type="submit" value="Relay 3 OFF" name="Relay 3 OFF"/>
            </div>
	    <div>
                <input type="submit" value="Relay 4 ON" name="Relay 4 ON"/>
                <input type="submit" value="Relay 4 OFF" name="Relay 4 OFF"/>
            </div>
        </form>
    </body>
</html>
